#grid {
  display: flex;
  flex-direction: column;
  height: 370px; }

.card {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  border-bottom: 2px solid #FFFFFF33; }

.card__image {
  max-height: 250px;
  max-width: 200px;
  background-color: darkgray;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 10px; }
